body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: gray;
	font-family: helvetica;
}

p {
  margin: 0 10px;
}

#data-display {
  width: 100%;
}

.player {
	padding: 5px 0;
}

.player-name, .player-hp-num {
  display: inline;
}

.player-hp-num {
  margin-left: auto;
}

.player-hp {
  /* background-color: black; */
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

.player-hp>div {
  background-color: greenyellow;
  /* width: 40%; */
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}

/* #progress {
  background: #333;
  border-radius: 13px;
  height: 20px;
  width: 100% - 6px;
  padding: 3px;
}

#progress:after {
  content: '';
  display: block;
  background: green;
  width: 50%;
  height: 100%;
  border-radius: 9px;
} */

::backdrop {
	background-color: black;
	opacity: .66;
}

#button-controls {
	margin: 5px;
}

#button-controls button {
	border: none;
	width: 20%;
	justify: space-between;
}
