body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background-color: #7446b7;
	color: white;
	font-family: helvetica;
}

#data-display {
	margin: 0 5px;
	height: 93%;
	overflow-y: scroll;
}

.player {
	margin: 5px 0 0;
	padding: 3px 0 1px;
	
	border-radius: 15px;
}

.edit-section {
	grid-column: span 6;
	display: flex;
}

.player-name, .player-hp-num {
	width: 50%;
	display: inline;
	margin: auto;
	margin-left: 10px;
}

.move-initiative {
	margin: 0 40%;
}

.top-player-section {
	margin: 5px 10px 0 2px;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:active, dialog input:active {
	font-size: 16px;
}

.change-health-input {
	max-width: 30px;
	height: 22px;

	margin: 5px 0;

	border: none;
	border-radius: 5px;

	display: inline;
}

.change-health, .move-initiative {
	aspect-ratio: 1/1;
	width: 25px;
	margin: 5px auto;
	
	border: none;
	border-radius: 5px;
	background-color: #242428; /* #2e2e2e; */
	color: white;
	font-weight: 900;
}

.change-health-group {
	grid-column: span 4;
}

.change-health-group * {
	margin: 5px 4px;
}

.change-health {
	padding-bottom: 2px;
}

.move-initiative {
	padding-bottom: 4px;
}

.player-hp {
  background-color: #242428;
  border-radius: 13px;
  padding: 3px;
	margin: 4px;
}

.player-hp > div {
  height: 20px;
  border-radius: 10px;
}

::backdrop {
	background-color: black;
	opacity: .66;
}

#button-controls {
	margin: 5px;
	display: grid;
	grid-template-columns: auto auto auto auto;
}

#button-controls button {
	width: 90%;
	max-width: 150px;
	margin: 5px auto 0;
	
	border: none;
	border-radius: 5px;
	
	background-color: #242428; /* #2e2e2e; */
	color: #e3e3e3;

	padding: 5px;
}
